<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employee Information</h1>
    <form>
        <div>
            Employee ID:<br> {{ id }} <br><br>
            Name:<br> {{ emp_name }} <br><br>
            Date of Birth:<br> {{ dob }} <br><br>
            Gender:<br> {{ gender }} <br><br>
            Address:<br> {{ address }} <br><br>
            Phone:<br> {{ phone }} <br><br>
            Email:<br> {{ email }} <br><br>
            Job Status:<br> {{ job_status }} <br><br>
            Hire Date:<br> {{ hire_date }} <br><br>
            Job Title:<br> {{ job_title }} <br><br>
            Department:<br> {{ department }} <br><br>
            Pay Scale:<br> {{ payscale }} <br><br>
            Payroll Type:<br> {{ payroll }} <br><br>
            Benefits:<br> {{ benefits }} <br><br>
            Days attended:<br> {{ attend_day }} <br><br>
            Working Hours:<br> {{ working_hours }} <br><br>
            HR ID:<br> {{ hr_id }} <br><br>

            Image URL: <br> {{ image_url }} <br><br>
            <button type="submit"  formaction="http://3.134.115.108:80/getemp">RESET</button><br><br>
        </div>
    </form>
</body>
</html>